@import "../../assets/style/_color.scss";

.bestSeller {
  margin: 100px 0;
  .container-bestSeller {
    text-align: center;
    .title {
      font-size: 50px;
      font-weight: bold;
      color: $color-title-text;
      margin-bottom: 20px;
    }
    .sub-title {
      font-size: 20px;
    }
    .product-list {
      margin: 0 auto;
      margin-top: 40px;
      width: calc(90% - 20px);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      .product-box {
        .box-img-add-cart {
          margin-bottom: 20px;
          position: relative;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            &:hover {
              transition: all 0.5s ease;
              transform: scale(1.2);
            }
          }
          .btn-add {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            outline: none;
            border: none;
            padding: 14px 20px;
            color: #fff;
            background-color: #000;
            border-radius: 4px;
            display: none;
            &:hover {
              background-color: $brown-color;
              color: #fff;
              cursor: pointer;
              transition: all 0.2s ease;
            }
          }
          &:hover .btn-add {
            transition: all 1s ease;
            display: block;
          }
        }
        .product-tag {
          color: #a7a7a7;
          font-size: 18px;
          margin-bottom: 10px;
        }
        .product-name {
          color: #323232;
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        .product-price {
          color: #a7a7a7;
        }
      }
    }
  }
  @media screen and (max-width: 1023.98px) {
    .container-bestSeller {
      .product-list {
        flex-wrap: wrap;
      }
    }
  }
  @media screen and (max-width: 767.98px) {
    .container-bestSeller {
      .product-list {
        width: 100%;
        .product-box {
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
  }
  
  
}
