@import './color';

body {
	font-family: 'Roboto', sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.7px;
}

.layout {
	color: $txt-color;
	&__content {
		padding-left: $sidebar-width;
		min-height: 100vh;
		&-main {
			padding: 0 30px;
      padding-bottom: 20px;
		}
	}
}
.information-showDashboard {
	display: none;
}

@media screen and (max-width: 1023.98px) {
	.layout {
		.sidebar {
			display: none;
		}
		&__content {
			display: none;
		}
	}
	.information-showDashboard {
		display: block;
		font-size: 30px;
	}
}

.icon-edit:hover {
	transition: all 0.2s ease;
	color: $main-color-green;
}
.icon-delete:hover {
	transition: all 0.2s ease;
	color: $main-color-red;
}

.center-table-loading {
  padding: 250px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
