@import '../../assets/css/color';

.topnav {
	padding: 10px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: $topnav-height;

	&__right {
		display: flex;
		align-items: center;
		position: relative;
		&-user-name {
			font-weight: 600;
			font-size: 1.2rem;
      cursor: pointer;
		}
		.topnav-menu {
      animation: hideToShow 0.2s ease;
			position: absolute;
			top: 30px;
			right: 0;
			background-color: #fff;
			border-radius: 2px;
			z-index: 99;
			box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.23);
			-webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.23);
			-moz-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.23);
			&__item {
				padding: 10px;
				font-size: 17px;
				font-weight: bold;
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover{
          background-color: $main-color-hover;
          color: $main-bg;
          border-radius: 2px;
        }
			}
		}
	}
	.notification-item {
		display: flex;
		align-items: center;
		padding: 10px;
		&:hover {
			background-color: $second-bg;
		}
		& > i {
			margin-right: 20px;
			font-size: 1.5rem;
		}
	}
}
