@import '../../assets/style/_color.scss';

.payment {
  margin: 80px 0;
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
      font-size: 30px;
      margin-bottom: 20px;
      font-weight: 500;
    }
    .btn-continue {
      border: none;
      padding: 10px 20px;
      font-size: 18px;
      background-color: $brown-color;
      border-radius: 18px;
      color: #fff;
      &:hover {
        transition: all 0.5s ease;
        background-color: $black-color;
      }
    }

    .radio-item-container {
      display: flex;
      flex-direction: column;
      border-top: 0;
      background: #fff;
      border-radius: 0 0 10px 10px;
      padding: 10px 0;
      .chakra-radio-group {
        .chakra-stack {
          .chakra-radio {
            .chakra-radio__control {
              border-color: #3182ce;
            }
          }
        }
      }
    }

    .radio-item {
      display: flex;
      position: relative;
    }

    .icon {
      font-size: 24px;
      position: absolute;
      right: 26px;
      top: 11px;
      transition: linear 0.3s;
    }

    fieldset input[type='radio']:checked + span > .icon {
      transform: scale(1.7);
    }
  }
}
