@import '../../assets/css/color';
.sidebar {
	min-width: $sidebar-width;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $main-bg;
	box-shadow: $box-shadow;
	&__logo {
		display: flex;
		justify-content: center;
		padding: 20px;
		&-text {
			color: $main-color;
      font-weight: bold;
      font-size: 32px;
      text-transform: uppercase;
		}
	}
	&__item {
		padding: 0 20px;
		&-inner {
			padding: 15px 25px;
			display: flex;
			align-items: center;
			font-weight: 600;
			transition: color 0.3s ease 0s;
			& > i {
				margin-right: 10px;
				font-size: 1.5rem;
			}
			& > span {
				text-transform: capitalize;
			}
			&:hover {
				color: $main-color;
			}
			&.active {
				border-radius: $border-radius;
				background: $main-color;
				color: $txt-white;
			}
		}
	}
}
