@import "../../assets/style/color";
@import '../../admin/assets/css/color';

.pagination-row {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	.pagination-arrow-left,
	.pagination-arrow-right {
    cursor: pointer;
    &.disabled{
      cursor: default;
    }
	}
	.pagination-item {
		width: 30px;
		height: 30px;
		margin: 0 5px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		&.active,
		&.active:hover {
			background-color: $main-color;
			color: #fff;
			font-weight: bold;
		}
		&:hover {
			color: #fff;
			background-color: $second-color;
		}
	}
}
