@import '../../assets/style/_color.scss';

.product {
	padding: 50px 0;
	background-color: $bkg-gray-color;
	&-des-box {
		background-color: $color-white;
		padding: 10px;
		border-radius: 4px;
		.description-title {
			font-weight: bold;
		}
		.product-desr {
			font-size: 15px;
			line-height: 1.4;
			margin-bottom: 40px;
		}
	}

	&-container {
		display: flex;
		margin-bottom: 20px;
		padding: 10px;
		background-color: $color-white;
		border-radius: 4px;
		.picture {
			width: 40%;
			height: auto;
			margin-right: 20px;
			img {
				object-fit: cover;
			}
		}
		.product-info {
			width: 60%;
			.product-name {
				line-height: 1.2;
				font-size: 26px;
				font-weight: 600;
				margin-bottom: 20px;
			}
			.price {
				span {
					font-weight: 600;
				}
				font-size: 20px;
				margin: 10px 0;
			}
			.count-in-stock {
				display: flex;
				align-items: center;
				margin-bottom: 10px;
				font-size: 18px;
				span {
					display: block;
					padding: 6px 10px;
					margin-left: 10px;
					border-radius: 4px;
					color: #fff;
					&.inStock {
						background-color: green;
					}
					&.outStock {
						background-color: red;
					}
				}
			}
			.product-action {
				display: flex;
				align-items: center;
				margin: 20px 0;
				input {
					padding: 10px;
					width: 100px;
					text-align: center;
					outline: none;
					border: 1px solid $gray-color;
					border-radius: 4px;
				}
				.btn-add-cart {
					outline: none;
					border: none;
					padding: 16px 30px;
					font-size: 18px;
					color: #fff;
					background-color: $black-color;
					margin-left: 20px;
					border-radius: 22px;
				}
			}

			.category {
				margin-bottom: 20px;
				span {
					color: $brown-color;
					font-weight: bold;
					text-decoration: underline;
				}
			}
		}
	}
}
