$brown-color: #a88057;
$black-color: #1a1a1a;
$bkh-menu-header: #14212a;
$gray-color: #7f7f7f;
$text-btn-hover: rgba(202,174,144,1);
$color-title-text: #222;
$text-color: #555555;
$sub-banner-color: #9E7B5E;