@import '../../assets/style/color';
.cart {
  .banner {
    background-image: url('../../assets/img/contact-banner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10em;
    &-title {
      font-size: 60px;
      font-weight: 600;
      color: #fff;
    }
  }
  .empty-cart {
    text-align: center;
    margin: 60px;
    font-size: 40px;
    a {
      color: $brown-color;
    }
  }
  &-container {
    margin: 40px 0;
    .title {
      .title-list {
        display: flex;
        padding-bottom: 10px;
        border-bottom: 2px solid $gray-color;
        .title-item {
          width: 25%;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
    .item-row {
      .item-info {
        display: flex;
        align-items: center;
        padding-bottom: 4px;
        border-bottom: 1px solid $gray-color;
        &:last-child{
          border-bottom: none;
        }
        .title-item,
        .item-name,
        .item-price,
        .item-quantity,
        .item-price-total {
          padding: 20px 0;
          width: 25%;
        }
        .item-price-total{
          font-weight: bold;
        }
        .item-name {
          padding-left: 4px;
          padding-right: 4px;
        }
        .item-quantity {
          display: flex;
          align-items: center;
          .box-quantity {
            outline: none;
            border: 1px solid $gray-color;
            border-radius: 14px;
            width: 60px;
            text-align: center;
            margin: 0 10px;
            padding: 10px;
          }
          button {
            width: 30px;
            height: 30px;
            font-size: 10px;
            background-color: $brown-color;
            color: #fff;
            cursor: pointer;
            outline: none;
            border: none;
          }
        }
        .title-item {
          display: flex;
          align-items: center;
          img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 4px;
            margin-left: 20px;
          }
          .icon-remove {
            padding: 10px;
            font-size: 14px;
            color: red;
            cursor: pointer;
          }
        }
      }
    }
    .sub-cart-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 20px;
      border-top: 1px solid $gray-color;
      .coupon-box {
        display: flex;
        align-items: center;
        .input-coupon{
          padding: 8px 10px;
          outline: none;
          border: none;
          border-radius: 20px;
          margin-right: 20px;
          background-color: #f5f5f5;
        }
        .btn-coupon {
          padding: 12px 46px;
          outline: none;
          border: none;
          border-radius: 20px;
          color: #fff;
          background-color: $black-color;
        }
      }
      .btn-update {
        padding: 12px 26px;
        border: none;
        background-color: $gray-color;
        color: #fff;
        border-radius: 20px;
      }
    }
    .total-box {
      border: 1px solid $gray-color;
      padding: 20px;
      margin-top: 80px;
      width: 40%;
      margin-left: auto;
      .total-title {
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 20px;
        border-bottom: 2px solid $black-color;
      }
      .subtotal-price {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
      }
      .total-price {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 500;
        span {
          font-size: 30px;
        }
      }
      .btn-checkout {
        width: 100%;
        border: none;
        padding: 16px 0;
        margin-top: 20px;
        border-radius: 30px;
        background-color: $black-color;
        color: #fff;
      }
    }
  }
}
